* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1264px;
}

body {
  font-family: "Raleway", sans-serif;
}

.components {
  padding: 50px 0;
}

.section-heading {
  padding: 100px 0px;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 3rem;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 1rem;
}

h1 {
  font-size: 80px;
  font-weight: 500;
  line-height: 48px;
}

h2 {
  font-size: 68px;
  font-weight: 600;
  line-height: 81.6px;
}

h3 {
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
}

h4 {
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
}

h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
}

.btn {
  display: inline-block;
  background-color: none;
  padding: 11px 29px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  border-radius: 6px;
}
.btn-primary {
  background-color: #148fd6;
  color: white;
}
.btn-secondary {
  border: 2px solid grey;
  background-color: grey;
}

.fa-solid {
  margin: 0px 6px;
}

.training {
  background-color: #f0f9fe;
}

.content-img {
  position: relative;
  display: flex;
  padding-bottom: 100px;
}

.content-blue {
  position: relative;
  margin-left: 57px;
}

.content-image {
  position: absolute;
  top: -30px;
  right: 0px;
  left: 20px;
  bottom: 50px;
}

.content-text {
  flex: 0 0 50%;
}

.resourcing {
  background-color: #DAEEF9;
}

.content-img-reverse {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 100px;
  gap: 80px;
}

.content-blue1 {
  position: relative;
}

.content-image1 {
  position: absolute;
  top: -30px;
  bottom: 0px;
  right: 0px;
  left: 731px;
  flex: 0 0 50%;
}

.section-images {
  padding: 50px 0px;
}
.section-girl {
  position: relative;
  float: right;
  width: 797px;
  z-index: -1;
}

.squarebox {
  position: relative;
  background-color: #1070a7;
  width: 585px;
  padding: 24px;
  top: 76px;
  left: 107px;
  z-index: 1;
  margin-bottom: 100px;
}
.squarebox h3 {
  color: white;
  text-align: center;
}

.row {
  display: flex;
}
.row p {
  margin-bottom: 0px;
  color: white;
}
.row h1 {
  color: white;
}

.site-header {
  background-color: #d2ecfb;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 43px;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  list-style-type: none;
  gap: 85px;
}
.nav-list h5 {
  font-family: "Bitter", serif;
}
.nav-right {
  display: flex;
  align-items: center;
  margin-left: 100px;
  border-bottom: 1px solid black;
}
.nav-icons {
  margin-left: 200px;
}
.nav-icons img {
  padding: 17px;
}

.nav:first-child {
  flex-basis: 20%;
}

.nav:nth-child(2) {
  flex-basis: 86%;
}

.navbar-list ul {
  list-style-type: none;
  display: flex;
  margin-left: 100px;
}
.navbar-list ul li {
  margin: 0px 15px;
  text-decoration: none;
  color: black;
}
.navbar-list ul li a {
  text-decoration: none;
  padding: 10px 15px;
  margin: 0px 15px;
  color: rgb(44, 53, 57);
}

.banner {
  background-color: #d2ecfb;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 66px;
}
.content-left {
  width: 50%;
}

.card-img img {
  border-radius: 50%;
  width: 70px;
}

.testimonials {
  background: rgb(218, 238, 249);
  margin-top: 100px;
}
.testimonials-flex {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.testimonials-item p {
  margin-bottom: 0;
}
.testimonials-wrap {
  border: 2px solid red;
  flex: 0 0 33.33%;
  max-width: 392px;
  background-color: white;
  margin: 8px;
}
.testimonials-card {
  display: flex;
  margin: auto;
  padding: 20px;
}
.testimonials-text {
  padding: 20px;
}
.testimonials-buttons {
  display: flex;
  justify-content: end;
  padding-bottom: 100px;
}

.site-footer {
  background-color: rgb(8, 56, 84);
  padding-top: 20px;
}

.footer-left h5 {
  padding: 20px 0px;
}
.footer-icons :first-child {
  padding: 0px;
}
.footer-icons img {
  padding: 0px 15px;
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
}
.footer-middle {
  color: white;
}
.footer-middle ul li {
  list-style: none;
  padding: 15px 0px;
}
.footer-secondlast {
  color: white;
}
.footer-secondlast ul li {
  list-style: none;
  padding: 15px 0px;
}
.footer-last {
  color: white;
}
.footer-last ul li {
  list-style: none;
  padding: 15px 0px;
}
.footer-copyright p {
  color: white;
  text-align: center;
  padding-top: 95px;
  font-size: 12px;
}/*# sourceMappingURL=style.css.map */